*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    
    
}
.heading{
    height: 10vh;
    
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.heading h1{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;    
}
.topSection{
    display: grid;
    grid-template-columns:1fr 1fr;
}
.topSection img{
    margin-left: 300px;
    margin-top:5px;
    height: 50vh;
}
.topSection form, h3{
    margin-left: 160px;
    margin-top: 5px;
    padding: 0;
}
main{
      
    padding-top: 20px;
}

#addBtn{
    display: flex;
    margin-left: 23%;   
}
#addBtn, #doneFilter, #toDoFilter, #inProgressFilter, #reviewFilter{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    border: none;
    
}
#doneFilter, #toDoFilter, #inProgressFilter, #reviewFilter {
    width: max-content;
}
.filter{
    
    margin: 60px 0px 0px 10px;
    
    align-items: center;
    
    display: flex; 
    justify-content: space-evenly;
    /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);  */
}
#addBtn:hover { background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); 
    color: black;
    font-weight: bold;
}
#doneFilter:hover { background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); 
    color: black;
    font-weight: bold;
}
#toDoFilter:hover{
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); 
    color: black;
    font-weight: bold;
}
#inProgressFilter:hover{
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); 
    color: black;
    font-weight: bold;
}
#reviewFilter:hover{
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); 
    color: black;
    font-weight: bold;
}

/* .image {
    display: flex; 
    height: 45vh;
    position: absolute; 
    margin:0% 20% 5% 40%;
    
    
   
} */
.list-group{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);  
}
.card{
    /* display: flex; */
    /* justify-content: space-between;      */
    margin: 10px auto 5px auto;
    /* margin:30px auto 5px 50px; */
     
    /* min-width: 500px; */
    /* max-width: 500px; */
     
}

    /* .list-container{ */
    /* display: flex; */
    
   
    /* justify-content: space-around; */
    /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);  */
    /* background-color: #537895; */
/* }  */

.taskPromo{
    display: flex;
    justify-content: center;
    /* background-color: #537895; */
    margin-top: 5px;
}
.taskImg{
    margin: 15px 0px 10px 0px;
    
}
h2{
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-weight: bolder;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #b6ccfc;
    height: 15vh;
  
}

.social{
    margin:20px 15px 0px 0px ;
}
.social img{
    width: 30px;
    margin: 20px 15px 10px 15px;
}
.footer{
    margin:40px 10px 10px 15px;
}
span{
    font-weight: bold;
    font-size: larger;
}
#taskTitle, #taskDescription, #taskAssignment, #taskDueDate, #inputState{

    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
}
/* 
@media screen and (max-width: 768px){
    .image{
        display: none;
    }
       
}
@media screen and (max-width: 768px){
    #doneFilter, #toDoFilter, #inProgressFilter, #reviewFilter{
       
    }
} */