*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 10vh;
    text-align: center;
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}


main{
       
    padding-top: 20px;
}


#addBtn{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    border: none;
}

#addBtn:hover { background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); 
    color: black;
    font-weight: bold;
}

.image{
    display: flex;
    height: 60vh;
    position: absolute;
    margin-left: 40%;
    margin-top: 5%;
    
   
}


.card{
    
    margin-top: 15px;
    margin-left: 10%;
    margin-bottom: 15px;
    width: fit-content;
    /* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%); */
}

.list-container{
    /* display: flex; */
    justify-content: space-around;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); 
}

#taskTitle, #taskDescription, #taskAssignment, #taskDueDate, #inputState{

    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
}

@media screen and (max-width: 720px){
    .image{
        display: none;
    }
}