
body {
    background-color: #89c9bd;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}

header{
    color: rgb(28, 56, 159);
    padding-top: 10px;
    height: 70px;   
    text-align: center;
    
}

.taskForm{
    text-align: center;
}

.newtask {
    background-color: #70baac;
}


